body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

h2 {
	text-align: center;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: rgba(0,191,255,1);
	background: -moz-linear-gradient(left, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,191,255,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(left, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(left, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(to right, rgba(0,191,255,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#3790d9', GradientType=1 );
	padding-top: 50px;
	padding-bottom: 145px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 145px;
	width: 570px;
}

.title {
	font-size: 36px;
}

.title span {
	font-size: 46px;
}

.intro {
	margin-bottom: 47px;
	margin-top: 30px;
	width: 400px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background: #ffd429;
	color: #000;
	display: block;
	width: 220px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #f1c824;
}

.desktop {
	margin-top: 55px;
}

.learn {
	padding-top: 100px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
}

.tasks {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.task {
	width: 300px;
	background: url('../img/icon1.jpg') no-repeat center top;
	padding-top: 85px;
}

.task-title {
	font-size: 18px;
	text-align: center;
}

.task-text {
	margin-top: 10px;
	text-align: center;
}

.task-free {
	width: 300px;
	background: url('../img/icon2.jpg') no-repeat center top;
}

.task-change {
	width: 305px;
	background: url('../img/icon3.jpg') no-repeat center top;
}

.mail {
	background: #ecf3f8;
	padding: 100px 0;
}

.form {
	margin-top: 40px;
}

.input {
	width: 343px;
	border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	height: 48px;
	padding-left: 38px;
	margin: 16px auto;
	display: block;
}

.btn-form {
	border: 0;
	width: 343px;
	height: 55px;
	cursor: pointer;
	margin: 16px auto;
	display: block;
}

.footer {
	padding: 62px 0;
	background: #164d7a;
}

.credits {
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin: 0;
}

/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.desktop {
		width: 570px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: auto;
	}
	.intro {
		width: auto;
	}
	.desktop {
		display: block;
		width: 641px;
		margin: 72px auto 0;
	}
	.skill {
		width: auto;
		margin-bottom: 30px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.desktop {
		width: auto;
		margin: 0;
	}
	.input {
		width: 100%;
	}
	.btn {
		margin-left: 0;
		margin-top: 15px;
		width: 100%;
	}
}

/* 320 - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
}